rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{user_id} {
      // Authenticated user
      allow create, read: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    // Projects collection
    match /projects/{project_id} {
      // Authenticated user
      allow create, read, update: if request.auth != null;
      // Resource = document itself
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}

// Security and authentication:

// Users collection
// - authenticated users can create and read
// - only users who created a document can update it (per user.id match)

// Projects collection
// - authetnicated users can create, read, and update documents
// - only users who create a document can delete it (per doc.createdBy.id match)

// To deploy updated rules:
// In terminal, type: firebase deploy --only firestore