#sidebar {
  top: 0px;
  left: 0px;
  width: 300px;
  min-width: 300px;
  height: 100vh;
  min-height: 100vh;
  background: var(--primary-color);  
  box-sizing: border-box;
  color: #fff;
  position: fixed;
  z-index: 9998;
  transform: translateX(-300px);
  transition: transform .4s ease-in-out;
}
#sidebar.change {
  transform: translateX(0px);
}
#sidebar-content {  
  width: 100%;  
  z-index: 9999;
}
/* Menu */
#menu {  
  background-color: #fff;
  position: fixed;
  padding: .5em;
  top: 0px;
  left: 300px;
  box-shadow: 0 0 4px var(--text-color);
  cursor: pointer;
  transition: transform .4s ease-in-out;
}
#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 6px 0;
  transition: all .4s;
}
.bar1.change{  
  transform: rotate(-45deg) translate(-9px, 6px);
}
.bar2.change {
  opacity: 0;
}
.bar3.change {
  transform: rotate(45deg) translate(-8px, -8px);
}
/* User and Links */
#sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
#sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
#sidebar .links li {
  margin-top: 10px;
}
#sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
#sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
#sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
#sidebar .links .active img {
  filter: invert(40%);
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    width: 300px;
    min-width: 300px;
    background: var(--primary-color);
    min-height: 100vh;
    box-sizing: border-box;
    position: fixed;
    color: #fff;
    transform: translateX(0px);
  }
  .sidebar-content {
    position: fixed;
    width: inherit;
  }
  #menu {
    display: none;
  }
}